{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>Pkiza TVL</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/extra-libs/multicheck/multicheck.css' %}">
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="{% url 'unittable' %}">
                        <b class="logo-icon p-l-10">
                            <img style="vertical-align: 2px;" src="{% static 'assets/images/logo-icon.png' %}" alt="homepage" class="light-logo" />
                        </b>
                        <span class="logo-text">
                             <p style="font-weight: bold;">ASSEMBLER</p>
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                    <ul class="navbar-nav float-right">
                       <li class="nav-item dropdown">
                                <a class=" nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                               href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-bell font-24"></i></a>
                                <span style="position: absolute;top: 23%;left: 65%;border: 1px solid;padding: 0px 5px;
                                border-radius: 50%;font-size: 12px;background: yellow;">{{notification|length}}</span>

                                <div class="dropdown-menu dropdown-menu-right user-dd animated" style="min-width: 0;">
                                {% for item in notification %}
                                    <a style="margin-bottom: 5px;border: 1px solid gray; border-radius: 10px;" class="dropdown-item">{{item}}</a>
                                {% endfor %}

                                {% if notification %}
                                    <div style="text-align: center;">
                                        <a style="border: 1px solid gray; border-radius: 10px;" class=" btn btn-dark" href="{% url 'markread' %}">Marked Read</a>

                                    </div>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                               href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'assets/images/users/1.jpg' %}" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated" style="min-width: 0;">
                                <a class="dropdown-item">User ID: </i> {{user}}</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
         <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
              <nav class="sidebar-nav">
                   <ul id="sidebarnav" class="p-t-30">
                       <li class="sidebar-item"><a href="{% url 'unittable' %}" style="background:none;" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Units </span></a></li>
                       <li class="sidebar-item"><a href="{% url 'email' %}" style="background:none;" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Eamil Settings </span></a></li>
                       <li class="sidebar-item"><a href="{% url 'spareparts' %}" style="background:none;" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Spare Parts </span></a></li>
                       <li class="sidebar-item"><a href="{% url 'purchases' %}" style="background:none;" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Purchases </span></a></li>
                       <li class="sidebar-item"><a href="{% url 'product' %}" style="background:none;" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Products </span></a></li>
                       <li class="sidebar-item"><a href="{% url 'notifications' %}" style="background:none;" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Notifications </span></a></li>
                   </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="col-md-12">
                        <h4 class="card-title">Purchase Spare Parts:</h4>
                        <div class="card">
                            <form class="form-horizontal" method="post" action="{% url 'addspareparts' %}">
                                 {% csrf_token %}
                                <div class="card-body" style="padding: .5rem; margin-bottom: -35px;">
                                    <div class="form-group row">
                                        <h3 style="font-weight: bold;"  class="col-sm-3 text-right control-label col-form-label" disabled>Store and Invoice Information:</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">

                                        <label for="supplier" class="col-sm-3 text-right control-label col-form-label">Store Name</label>
                                        <div class="col-sm-9" style="margin-bottom: 15px">
                                            <input type="text" name="supplier" class="form-control" id="supplier" placeholder="Store Name Here">
                                        </div>

                                        <label for="challan" class="col-sm-3 text-right control-label col-form-label">Invoice No</label>
                                        <div class="col-sm-9" style="margin-bottom: 15px">
                                            <input type="text" name="name" class="form-control" id="challan" placeholder="Invoice No Here">
                                        </div>
                                        <label for="date" class="col-sm-3 text-right control-label col-form-label" disabled>Invoice Date</label>
                                        <div class="col-sm-9" style="margin-bottom: 15px">
                                            <input class="form-control" type="date" id="date" name="date">
                                        </div>
                                    </div>
                                </div>
                                 <div class="card-body" style="padding: .5rem; margin-bottom: -35px; margin-top: -35px;">
                                    <div class="form-group row">
                                        <h3 style="font-weight: bold;"  class="col-sm-3 text-right control-label col-form-label" disabled>Spare Parts Information:</h3>
                                    </div>
                                </div>
                                        <div class="card-body">
                                    <div class="form-group row">

                                        <label  class="col-sm-3 text-right control-label col-form-label">Name</label>
                                        <div class="col-sm-9" style="margin-bottom: 15px">
                                            <select name="parts" id="parts" onchange="partsValue()" class="form-control">
                                                <option value="-1">------</option>
                                                {% for item in data %}
                                                    <option value={{item.parts_id}}>{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label for="unit" class="col-sm-3 text-right control-label col-form-label">Unit</label>
                                        <div class="col-sm-9" style="margin-bottom: 15px">
                                            <input type="text" name="unit" class="form-control" id="unit" placeholder="Unit Here" disabled>
                                        </div>
                                        <label style="display:none" for="stock" class="col-sm-3 text-right control-label col-form-label" disabled>Available Stock</label>
                                        <div style="display:none" class="col-sm-9" style="margin-bottom: 15px">
                                            <input type="text" name="stock" class="form-control" id="stock" placeholder="Available Stock Here" disabled>
                                        </div>
                                        <label for="quantity" class="col-sm-3 text-right control-label col-form-label" disabled>Quantity</label>
                                        <div class="col-sm-9" style="margin-bottom: 15px">
                                            <input type="text" name="quantity" class="form-control" id="quantity" placeholder="Quantity Here">
                                        </div>
                                        <label for="box" class="col-sm-3 text-right control-label col-form-label" disabled>Box</label>
                                        <div class="col-sm-9" style="margin-bottom: 15px">
                                            <input type="text" name="box" class="form-control" id="box" placeholder="Box Here">
                                        </div>

                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-3">
                                            <p style="color:red">{{ message }}</p>
                                        </div>
                                    </div>
                                    <div class="card-body" style="float: right;">
                                        <button type="button" onclick="addPurchase()" class="btn btn-primary">Add Purchase</button>
                                    </div>
                                </div>
                            </form>
                            <h5 style="margin-left: 15px;">Purchase List:</h5>
                            <form method="post" action="{% url 'purchasesparts' %}">
                                 {% csrf_token %}
                                <input name="total" id="total" type="hidden" >
                                <table id="purchaseTable" class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Store Name</th>
                                  <th scope="col">Invoice No</th>
                                  <th scope="col">Spare Parts Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Box</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody>

                              </tbody>
                            </table>
                                <div class="card-body" style="float: right;">
                                        <button style="margin-right: 20px;" type="submit" class="btn btn-primary">Purchase</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <!-- this page js -->
    <script src="{% static 'assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script>
      $( function() {
        $( "#datepicker" ).datepicker();
      } );
    </script>
    <script>
    console.log('hit');
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>
    <script type="text/javascript">
    function deleteRow(btn) {
      var row = btn.parentNode.parentNode;
      row.parentNode.removeChild(row);
      var table = document.getElementById("purchaseTable");
      var table_len = table.rows.length;
      console.log(table_len)
      document.getElementById("total").value = table.rows.length-1;
    }
    function addPurchase() {

      var supplier = document.getElementById("supplier").value;
      var challan = document.getElementById("challan").value;
      var unit = document.getElementById("unit").value;
      var quantity = document.getElementById("quantity").value;
      var parts = document.getElementById("parts");
      var parts_text = parts.options[parts.selectedIndex].text;
      var parts_id = parts.options[parts.selectedIndex].value;
      var box = document.getElementById("box").value;
      var date = document.getElementById("date").value;
      console.log(date);

      var table = document.getElementById("purchaseTable");
      var table_len = table.rows.length;
      console.log(table_len)
      document.getElementById("total").value = table.rows.length;
      var row = table.insertRow(table_len);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);
      var cell6 = row.insertCell(5);
      var cell7 = row.insertCell(6);
      var cell8 = row.insertCell(7);
      var cell9 = row.insertCell(8);
      cell1.innerHTML = table_len;
      cell2.innerHTML = "<input class='form-control' style='border:none;background: white;color:black;' readonly='true' type='text' name=supplier_" + table_len + " value='" + supplier + "' >";
      cell3.innerHTML = "<input class='form-control' style='border:none;background: white;color:black;' readonly='true' type='text' name=challan_" + table_len + " value=" + challan + " >";
      cell4.innerHTML = "<input class='form-control' style='border:none;background: white;color:black;' readonly='true' type='hidden' name=partsid_" + table_len + " value=" + parts_id + " >" + parts_text;
      cell5.innerHTML = "<input class='form-control' style='border:none;background: white;color:black;' readonly='true' type='number' name=quantity_" + table_len + " value=" + quantity + " >";
      cell6.innerHTML = "<input class='form-control' style='border:none;background: white;color:black;' readonly='true' type='text' name=total_" + table.rows.length + " value=" + unit + " >";;
      cell7.innerHTML = "<input class='form-control' style='border:none;background: white;color:black;' readonly='true' type='number' name=box_" + table_len + " value=" + box + " >";;
      cell8.innerHTML = "<input class='form-control' style='border:none;background: white;color:black;' readonly='true' type='text' name=date_" + table_len + " value=" + date + " >";;
      cell9.innerHTML = "<button class='btn btn-sm btn-danger' value='Delete' onclick='deleteRow(this)'>Delete</button>";
    }
    function partsValue() {
      var x = document.getElementById("parts").value;
      console.log(x);
      $.ajax(
    {
        type:"GET",
        url: "{% url 'unitstock' %}",
        data:{
                 id: x
        },
        success: function( data )
        {
            var res = data.split(",");
            document.getElementById("unit").value = res[0];
            document.getElementById("stock").value = res[1];
        }
     })
    }
</script>

</body>

</html>